<nav class="bg-slate-800 h-[4rem] flex items-center w-full">
    <div class="flex flex-row justify-between w-11/12 mx-auto">

        <div class="log text-white justify-center items-center font-bold flex flex-row">
            <button id="menuBtn" class="flex sm:hidden ml-2 mr-4">
                <i class="fa-solid fa-bars-staggered"></i>
                                  </button>
           <a href="/">
            <img src="/assets/logo.png" class="w-16" alt="">
           </a>
        </div>
        <div id="navMenu" class="menu hidden flex-row gap-2 sm:flex">
            <a href="#" class="  text-gray-200 hover:text-white  py-1 px-2 rounded-md">About</a>          
            <a href="/currentEvents" class="  text-gray-200 hover:text-white  py-1 px-2 rounded-md">Current Events </a>          
            <a href="/cart" class="  text-gray-200 hover:text-white border-gray-700  border-2 rounded-md py-1 px-2  py-1 px-4 "><i class="fa-solid fa-cart-shopping"></i></a>          
            <a href="/logout" class="  text-gray-200 hover:text-white border-gray-700  border-2 rounded-md py-1 px-2  py-1 px-4 "><i class="fa-solid fa-right-from-bracket"></i></a>          
        
        </div>
        <div class="flex sm:hidden">
            <!-- <a href="/profile" class="py-2 px-3 rounded-full bg-slate-400"> -->
                <a href="/notifications" class="mr-3">
                    <i class="fa-solid fa-bell text-white fa-md"></i>           
                 </a>
            <a href="/profile" class="">
                <i class="fa-solid fa-user text-white fa-md"></i>
            </a>
        </div>
    </div>
  </nav>
  
  <%- include("./sidebar") %>
