<div id="sidebar" class="hidden w-10/12 bg-slate-800 h-full absolute">
    <div class="flex justify-end">
        <button id="closeSidebarBtn" class="py-1 px-3 rounded-full text-white mt-1 mr-1 bg-slate-800">x</button>
    </div>

    <div id="navMenu" class="flex flex-col justify-center items-center gap-2 sm:hidden">
        <a href="#" class="  text-gray-200 hover:text-white  py-1 px-2 rounded-md">About</a>          
        <a href="#" class="  text-gray-200 hover:text-white  py-1 px-2 rounded-md">Mint </a>          
        <a href="#" class="  text-gray-200 hover:text-white  py-1 px-2 rounded-md">Roadmap</a>          
        <a href="/register" class="  text-gray-200 hover:text-white border-gray-400  border-2 rounded-md py-1 px-2  py-1 px-4 ">Signup</a>          
        <a href="/login" class=" font-semibold text-gray-200  hover:text-white border-gray-400  border-2 rounded-md py-1 px-2 bg-blue-500  py-1 px-5 ">Login</a>          

    </div>
</div>