<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Enter Event</title>
  </head>


  <body class="bg-slate-900">
    <%- include("./partials/navbar") %>


    <div class="w-full mt-4">
        <div class="eventImg my-5">
            <img src="/assets/bg-2.jpg" class="w-[20rem] sm:w-[30rem] mx-auto" alt="">
        </div>
        <p class="text-white text-center my-4">Choose Number</p>
        
        <div class="bg-slate-900 p-4 rounded-lg shadow-lg">
            <div class="flex flex-wrap w-[22rem] mx-auto justify-center items-center">
              <% for (let i = 1; i <= 30; i++) { %>
                  <a href="/buyTicket/<%= i %>" class="bg-slate-700 w-12 ml-2 h-12 mt-2 rounded-lg p-4 text-center">
                    <span class="text-lg text-white font-bold"><%= i %></span>
                  </a>
              <% } %>
            </div>
          </div>
          
    </div>





    <%- include("./partials/footer") %>
    
