<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>Homepage</title>
  </head>
  <body class="h-[80vh] w-full  bg-slate-900">
    
<%- include("./partials/homeNav") %>


<div class="w-full absolute" style="z-index: -3;">
  <img src="assets/bg.jpg" class="w-full sm:h-[85vh]" alt="">
</div>

<div class="w-10/12 mx-auto h-[58vh]" style="z-index: 8;"> 
  <p class="text-6xl text-yellow-400 my-8 sm:my-20 text-center">Raffle Rush </p>
    <div class="flex flex-col sm:flex-row my-4  sm:my-12 gap-3 justify-center items-center">
        <a href="/currentEvents" class="bg-slate-900  flex justify-center items-center text-white w-[15rem] rounded-md border-2 h-28 border-gray-600" >
            Current Events
        </a>
        <a href="/pastEvents" class="bg-slate-900  flex justify-center items-center text-white w-[15rem] rounded-md border-2 h-28 border-gray-600" >
            Past Events
        </a>
    </div>
</div>
<%- include("./partials/footer") %>



