<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Loginpage</title>
  </head>


  <body class="bg-slate-900">
    <%- include("./partials/navbar") %>


    <div class="w-9/12 sm:w-4/12 mx-auto">
      <% if(messages.error){%>
        <p class="text-black py-2 bg-red-200 text-center my-2"><%= messages.error %></p>
        <% }  %>
        <p class="text-lg mt-12 text-white text-lg font-semibold mb-5 text-center">Welcom back</p>

        <form method="post" action="/login">
            <div class="mb-3">
              <input type="text" name="email" placeholder="Email " class="border-2 bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
            </div>
            <div class="mb-3">
              <input name="password" type="password" placeholder="Password " class="border-2 bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full">
            </div>
            <div class="">
              <button type="submit" class="py-2  px-3 bg-blue-400 rounded-md text-white font-bold w-full">Login</button>
            </div>
          </form>
          <div class="flex flex-row mt-3 justify-evenly">
            <p class="text-sm text-gray-500">Already Having  Account ? </p>
            <a href="/register" class="underline text-white">Signup</a>
        </div>
        <div class="border-t-2   border-gray-400 mt-5"></div>
    
        <div class="flex flex-col sm:flex-row mt-3 justify-center items-center gap-3">
          <button  class="py-2 px-3 rounded-md bg-red-400 w-11/12 mb-2 sm:mb-0">Continue with google </button>
          <button  class="py-2 px-3 rounded-md bg-blue-400 w-11/12">Continue with Facebok </button>
      </div>
     
    </div>







    <%- include("./partials/footer") %>
    
