<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profile</title>
  </head>


  <body class="bg-slate-900">
    <%- include("./partials/navbar") %>

    <div class="w-full">
      <div class="flex flex-col">
        <div class="flex w-10/12 mx-auto mt-5">
          <a href="/enter/3" class="py-2 text-center sm:w-4/12 px-3 bg-slate-800 rounded-md text-white font-bold w-full  ">settings </a>
      </div>
        <div class="flex w-10/12 mx-auto mt-5">
          <a href="/enter/3" class="py-2 text-center sm:w-4/12 px-3 bg-slate-800 rounded-md text-white font-bold w-full  ">account </a>
      </div>
        <div class="flex w-10/12 mx-auto mt-5">
          <a href="/resetPassword" class="py-2 text-center sm:w-4/12 px-3 bg-slate-800 rounded-md text-white font-bold w-full  ">reset password </a>
      </div>
        <div class="flex w-10/12 mx-auto mt-5">
          <a href="/enter/3" class="py-2 text-center sm:w-4/12 px-3 bg-slate-800 rounded-md text-white font-bold w-full  ">navigation </a>
      </div>
        <div class="flex w-10/12 mx-auto mt-24">
          <a href="/enter/3" class="py-2 text-center sm:w-4/12 px-3 bg-red-600 rounded-md text-white font-bold w-full  ">signout </a>
      </div>
      </div>
    </div>






    <%- include("./partials/footer") %>
    

