<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reset Password</title>
  </head>


  <body class="bg-slate-900">
    <%- include("./partials/navbar") %>


    <div class="w-9/12 sm:w-6/12 mx-auto">
      <% if(message){%>
        <p class="text-black py-2 bg-gray-300 text-center mt-5"><%= message %></p>
        <% }  %>

        <% if(step === 0) {%>
          <div class="w-full"></div>
          <%}%>

       <% if(step === 1) {%>
        <form method="post" action="/forgot-password">
            <div class="mb-3">
              <input type="text" required name="email" placeholder="Email " class="border-2 text-white  bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
            </div>
           
            <div class="">
              <button type="submit" class="py-2  px-3 bg-blue-400 rounded-md text-white font-bold w-full">Send OTP</button>
            </div>
        </form>
        <%}%>
        <% if(step === 2) {%>
            <form method="post" action="/verifyOTP">
                <div class="mb-3">
                  <input type="text" required name="otp" placeholder="Enter OTP  " class="border-2 text-white  bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
                </div>
               
                <div class="">
                  <button type="submit" class="py-2  px-3 bg-blue-400 rounded-md text-white font-bold w-full">Verify OTP</button>
                </div>
              </form>
        <%}%>
        
        <% if(step === 3) {%>
            <form method="post" action="/reset-password">
                <div class="mb-3 hidden">
                    <input type="email" name="email" value="<%= email %>" placeholder="Enter New Password  " class="border-2 text-white  bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
                </div>
                <div class="mb-3 my-12">
                    <input type="password" name="password" placeholder="Enter New Password  " class="border-2 text-white  bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
                </div>
                <div class="mb-3">
                    <input type="password" name="" placeholder="Confirm New Password  " class="border-2 text-white  bg-slate-900 rounded-md border-gray-400 py-2 px-3 w-full" >
                </div>
               
                <div class="">
                  <button type="submit" class="py-2  px-3 bg-blue-400 rounded-md text-white font-bold w-full">Reset</button>
                </div>
              </form>
              <%}%>
    </div>
    






    <%- include("./partials/footer") %>
    
